/* Styles/ForumsInteractionSpaces.module.css */

.forumsInteractionSpaces {
    margin-top: 20px;
    background: #e0f2f1;
    padding: 20px;
    border-radius: 12px;
  }
  
  .forumsInteractionSpaces h3 {
    color: #004d40;
    margin-bottom: 15px;
  }
  
  .forumsInteractionSpaces p {
    color: #004d40;
  }
  