/* Styles/IntellectualProperty.module.css */

.intellectualProperty {
    margin-top: 20px;
    background: #fffde7;
    padding: 20px;
    border-radius: 12px;
  }
  
  .intellectualProperty h3 {
    color: #f9a825;
    margin-bottom: 15px;
  }
  
  .intellectualProperty p {
    color: #f9a825;
  }
  