/* Styles/PaymentsCancellations.module.css */

.paymentsCancellations {
    margin-top: 20px;
    background: #e3f2fd;
    padding: 20px;
    border-radius: 12px;
  }
  
  .paymentsCancellations h3 {
    color: #0d47a1;
    margin-bottom: 15px;
  }
  
  .paymentsCancellations p {
    color: #0d47a1;
  }
  