/* Styles/StudentRights.module.css */

.studentRights {
    margin-top: 20px;
    background: #f3e5f5;
    padding: 20px;
    border-radius: 12px;
  }
  
  .studentRights h3 {
    color: #6a1b9a;
    margin-bottom: 15px;
  }
  
  .studentRights p {
    color: #6a1b9a;
  }
  