/* Components/TermsAndConditions/UserResponsibilities.module.css */

.userResponsibilities {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .mainTitle {
    color: #333333;
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .mainText {
    color: #555555;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .subtitle {
    color: #2c3e50;
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  .point {
    margin-bottom: 10px;
  }
  
  .pointText {
    color: #555555;
    text-align: justify;
    line-height: 1.6;
    margin-left: 20px;
    position: relative;
  }
  
  .bullet {
    color: #e74c3c;
    margin-right: 10px;
    position: absolute;
    left: -20px;
  }
  
  .subpoints {
    list-style-type: disc;
    margin-left: 40px;
    color: #555555;
  }
  
  .subpoint {
    margin-bottom: 5px;
    text-align: justify;
    line-height: 1.6;
  }
  