.sessionHistoryContainer {
    padding: 20px;
    background: linear-gradient(135deg, #FFD194 0%, #FFDFBA 100%); /* Fondo degradado en tonos cálidos */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: auto;
  }
  
  .sessionTitle {
    color: #BF360C; /* Rojo oscuro suave */
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .sessionFormLabel {
    color: #D84315; /* Naranja oscuro para las etiquetas */
    font-weight: 500;
  }
  
  .sessionInput {
    background-color: #FFF3E0; /* Naranja claro para los campos de texto */
    border: 1px solid #FFAB91; /* Borde naranja suave */
    border-radius: 5px;
    padding: 8px;
    color: #D84315; /* Texto naranja oscuro */
  }
  
  .sessionButton {
    background-color: #FF7043; /* Naranja vibrante para el botón */
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #BF360C;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
  }
  
  .sessionButton:hover {
    background-color: #E64A19; /* Naranja oscuro en hover */
    border-color: #A3331B;
  }
  
  