/* Styles/ExtraTutoringPolicies.module.css */

.extraTutoringPolicies {
    background: #f9fbe7;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
  }
  
  .extraTutoringPolicies h4 {
    color: #afb42b;
    margin-bottom: 10px;
  }
  
  .extraTutoringPolicies p {
    color: #827717;
  }
  