/* LoginPasswordPage.module.css */

/* Encapsulamos todo dentro de la clase .password-login */
.password-login * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.password-login {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.password-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  min-height: 700px;
}

.password-login-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.password-login-card:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.password-welcome-text {
  font-size: 1.8rem;
  color: #333333;
  margin-bottom: 10px;
  text-align: center;
}

.password-welcome-subtext {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 20px;
  text-align: center;
}

.password-form-group {
  margin-bottom: 20px;
  position: relative;
}

.password-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.password-input-field {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.password-input-field:focus {
  border-color: #ffbe0b;
}

.password-login-btn {
  width: 100%;
  padding: 12px;
  background-color: #ffbe0b;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.password-login-btn:hover {
  background-color: #ffaa00;
  transform: scale(1.02);
}

.password-login-btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.forgot-password-link {
  display: block;
  margin-top: 5px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.change-email-link {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-left: 10px;
}

.change-email-link:hover {
  text-decoration: underline;
}

.footer-links {
  margin-top: 20px;
  text-align: center;
  font-size: 0.9rem;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .password-login-card {
      padding: 30px;
      max-width: 100%;
  }

  .password-welcome-text {
      font-size: 1.5rem;
  }

  .password-welcome-subtext {
      font-size: 0.9rem;
  }

  .password-input-field {
      font-size: 0.9rem;
      padding: 10px;
  }

  .password-login-btn {
      font-size: 0.9rem;
      padding: 10px;
  }
}
