/* Container for the settings page */
.settings-page {
  padding: 20px;
}

/* Title styles for the settings section */
.settings-title {
  font-size: 2em;
  color: #337d2e;
  text-align: center;
  margin: 20px 30px;
  font-weight: bold;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  text-transform: uppercase;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .settings-title {
    margin-top: 50px !important;
  }
}
