/* Styles/CourseRequirements.module.css */

.courseRequirements {
    margin-top: 20px;
    background: #e1f5fe;
    padding: 20px;
    border-radius: 12px;
  }
  
  .courseRequirements h3 {
    color: #0277bd;
    margin-bottom: 15px;
  }
  
  .courseRequirements p {
    color: #0277bd;
  }
  