/* Styles/UseOfTechnology.module.css */

.useOfTechnology {
    margin-top: 20px;
    background: #e3f2fd;
    padding: 20px;
    border-radius: 12px;
  }
  
  .useOfTechnology h3 {
    color: #0d47a1;
    margin-bottom: 15px;
  }
  
  .useOfTechnology p {
    color: #0d47a1;
  }
  