/* Styles/MaterialCategories.module.css */

.materialCategories {
    margin-top: 20px;
  }
  
  .categoryButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .categoryButtons button {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .categoryButtons button {
      flex: unset;
      width: 100%;
    }
  }
  